html {
  overflow-x: hidden;
}

body {
  overscroll-behavior-x: none;
  background: linear-gradient(
    to bottom right,
    var(--cream),
    var(--cream-variant)
  );
  background-attachment: fixed;
}
  